div {
    position: relative;
    width: 50%;
    height: auto;
    float: left;
    text-align: left;
  
    
}

body {
    background-image: url("hangman.jpg");
    background-repeat:no-repeat;
}

h1 {
    color: white;
}

p {
    color:white;
}


